@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
@include foundation-grid;
// @include foundation-flex-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-meter-element;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;
// @include foundation-flex-classes;

@include motion-ui-transitions;
@include motion-ui-animations;

@import 'font-awesome';
@import 'partials/variables';
@import 'hover';
@import 'partials/dataf';
@import 'partials/responsive-data';
@import 'partials/select';
@import 'partials/data-button';

.hjm-app{
	.off-canvas-wrapper,
.off-canvas-wrapper-inner,
.off-canvas,body, html{
	height:100%;

}
.off-canvas-content
{
  overflow: hidden;
	
}
.off-canvas{
	
}
#logo-app{
	margin: 0 auto;
}
.app-menu{
	a{
		color: $porcelain;
		&:hover{
			background: $hjm-blue;
		}
		width: 100%;
	}

}
.app-logo{
	background: rgba(255,255,255,0) url('../images/hjmlogo150.png') no-repeat 10px 10px;
	height: 150px;
	width: 150px;
	
}
.title-bar{
	background: $hjm-primary;
	a{
		span{
			margin-left: 10px;
			margin-top: 0px;
		}
		color: $porcelain;
		&:hover{
		}
	}
	
}
#add-modal{
	margin-left: 15px;
	i{
		margin-right: 10px;
	}
}
.hjm-primary{
	background-color: $hjm-primary;
}
.hjm-secondary{
	background-color: $hjm-secondary;
}
.tabs{
	a{
		color: black;
	}
	.is-active{
		a{
			color: white;
		}
	}
}
.title-callout{
	margin-bottom: 50px;
}
.datatable{
	margin: 15px;
	a{
		color: black;
		&:hover{
			text-decoration: underline;
			color: $hjm-secondary;
		}
	}
}
.table-icon{
	margin-right: 10px;
}
.dataTables_filter{
display: none;
}
.data-dropdown-menu{
	a{
		color:gray;
	}
	a:hover{
		background-color: $hjm-primary;
		color: $porcelain;
	}
}
#transaction-modal{
	a{
		color: black;
	}
	#new-case{
		a:hover{
			color: $porcelain;
			background: $hjm-primary;
		}
	}
	#new-invoice{
		a:hover{
			color: $porcelain;
			background: $hjm-blue;
		}
	}
	#new-inactive{
		a:hover{
			color: $porcelain;
			background: #ec5840;
		}
	}
}
	.order-callout{
		background: $sem-white;
		border-top: 10px solid $hjm-secondary;
		margin-top: 8px;
	}
	.order-nav{
		a{
			color: $hjm-gray;
			&:hover{
				color: $hjm-tertiary;
			}
		}
		#new-order{
			color: $hjm-gray;
			&:hover{
				color: $porcelain;
				background: $hjm-primary;
			}
		}
		#inProd-order{
			color: $hjm-gray;
			&:hover{
				color: $porcelain;
				background: $hjm-tertiary;
			}
		}
		#complete-order{
			color: $hjm-gray;
			&:hover{
				color: $porcelain;
				background: $success-color;
			}
		}
		#hold-order{
			color: $hjm-gray;
			&:hover{
				color: $porcelain;
				background: $alert-color;
			}
		}
	}
	.status-box{
		height: 15px;
		width: 105px;
	}
	//HJM-app-end
}

//front page
.hjm-site{
	#mobile-icon{
	color: gray;
}
#phone-icon{
	color: $hjm-secondary;
}
#mapMarker-icon{
	color: #247a26;
}
#envelope-icon{
	color: #a40914;
}
.top-bar-icons{
	margin-right: 5px;
}

.top-bar-header{
	@include top-bar-container;
	border-bottom: 10px solid $hjm-secondary;
	height: 115px;
}
#site-nav{
	background: transparent;
	position: relative;
	top: 50px;
	a{
		color: $hjm-gray;
		&:hover{
			color: $hjm-secondary;
		}
	}
}
//HJM-site end	
}
